[submodule "packages/slime"]
	path = packages/slime
	url = git@github.com:slime/slime.git
[submodule "cask"]
	path = cask
	url = git@github.com:cask/cask.git
[submodule "vsh"]
	path = vsh
	url = git@github.com:hardenedapple/vsh.git
