[submodule "packages/slime"]
	path = packages/slime
	url = git://github.com/slime/slime.git
[submodule "cask"]
	path = cask
	url = git://github.com/cask/cask.git
[submodule "packages/dot-mode"]
	path = packages/dot-mode
	url = git://github.com/hardenedapple/dot-mode
